Write a Python program to print the following sentence: "Python programming is fun!"

In [1]:
print("Python programming is fun!")

Python programming is fun!

Create a variable name and assign it your name as a string. Print "Hello, my name is name!"

In [2]:
name = "Stephen Nsa"
print(f"Hello, my name is {name}!")

Hello, my name is Stephen Nsa!

Write a Python program to calculate the sum of 123 and 456 and print the result.

In [3]:
print(123 + 456)

579

Create two variables a and b with values 20 and 10 respectively. Print the result of their multiplication.

In [4]:
a, b = 20, 10
result = a * b
print(result)

200

Create a variable age and assign it your age. Print a sentence stating your age using an f-string.

In [5]:
age = 26
print(f"I am {age} years old")

I am 26 years old

Create a variable salary and assign it a value. Calculate a 10% bonus of the salary and print the final amount after adding the bonus to the original salary.

In [6]:
salary = 10000
bonus = salary * 0.1
print(salary + bonus)

11000.0

Create a list of your five favorite fruits. Write a for loop to print each fruit in the list

In [7]:
fav_fruits = ["apple", "banana", "orange", "mango", "pineapple"]
for fruit in fav_fruits:
    print(fruit)

apple
banana
orange
mango
pineapple

Create a list of five numbers. Write a Python program to calculate and print the sum of these numbers using a for loop.

In [8]:
nums = [1, 2, 3, 4, 5]
total = 0
for num in nums:
    total += num
print(total)

15

Write a Python program that checks if a number stored in the variable num is positive, negative, or zero and prints an appropriate message.

In [9]:
num = 5
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Positive

Write a Python program that takes a variable grade and prints "Pass" if the grade is 50 or higher and "Fail" otherwise.

In [10]:
grade = 56
if grade >= 50:
    print("Pass")
else:
    print("Fail")

Pass

Create a dictionary named student with keys name, age, and grade. Assign appropriate values to these keys. Print the dictionary.

In [11]:
student = {
    "name": "Stephen",
    "age": 26,
    "grade": 90
}
print(student)

{'name': 'Stephen', 'age': 26, 'grade': 90}

Update the grade value in the student dictionary and print the updated dictionary.

In [12]:
student["grade"] = 100
print(student)

{'name': 'Stephen', 'age': 26, 'grade': 100}

Create a tuple named dimensions with three elements representing the length, width, and height of a box. Print the second element of the tuple.

In [13]:
dimensions = (10, 20, 30)
print(dimensions[1])

20

Create a set named colors with elements "red", "green", and "blue". Add the color "yellow" to the set and print the updated set.

In [16]:
colors = {"red", "green", "blue"}
colors.add("yellow")
print(colors)

{'red', 'yellow', 'green', 'blue'}

Write a function named greet that takes a name as an argument and prints "Hello, name!". Call this function with your name.

In [17]:
def greet(name):
    print(f"Hello, {name}!")

greet("Stephen")

Hello, Stephen!

Write a function named calculate_area that takes the radius of a circle as an argument and returns the area of the circle. Use this function to calculate and print the area of a circle with a radius of 5.

In [18]:
def calculate_area(radius):
    return 3.14 * radius ** 2

print(calculate_area(5))

78.5